.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places_h1 {
    width: 100%;
}

.places_h1 h1 {
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
    
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
    
}

.places article h2 {
    font-size: 30px;
    display: inline-block;
    margin-left: 130px;
    margin-top: 0px;
    margin-bottom: 45px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    position:relative;
    float: right;
}

.price_by_night p {
    margin-top: 13px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.max_guest {
    width: 100px;
    background-image: url("/images/icon_bath");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -10px;
}

.number_rooms {
    width: 100px;
    background-image: url("/images/icon_bed.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.number_bathrooms {
    width: 100px;
    background-image: url("/images/icon_bath.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.max_guest p, .number_rooms p, .number_bathrooms p {
    margin-top: 80px;
    margin-left: -40px;
}